#
*app

# File
account_information.R
functions/passwords.R

# Directories
data/
code/old
code/Columbia
code/Australia
raw/old
figures/
results/
master/

# File types
*.tex
*.pdf
*raw
*handbooks
*pdf
*tex
*.Rda
.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
.xlsx